.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.button-wrapper {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.auth-form {
  &__info-message {
    margin-bottom: 20px;
  }

  &__bottom-info {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
  }

  &__error-message {
    color: var(--app-color-light);
    padding: 10px;
    min-height: 48px;
    border: 1px solid rgb(var(--app-red));
    background-color: rgb(var(--app-red));
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .button {
    margin-bottom: 20px;
  }
}

.devider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  text-transform: uppercase;
  font-size: var(--app-small-font-size);
  line-height: 1.33;
  color: rgb(var(--app-grey-dark));
  margin-top: 24px;
  margin-bottom: 24px;

  &::before,
  &::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: rgb(var(--app-grey-dark));
  }
}
