:root {
  --app-white: 255 255 255; // #ffffff
  --app-blue: 49 111 234; // #316FEA
  --app-grey: 211 216 220; // #D3D8DC
  --app-black: 6 14 30; // #060E1E
  --app-black-2: 26 25 25; // #1A1919
  --app-grey-light: 190 197 204; // #E3E6E9
  --app-grey-dark: 227 230 233; // #BEC5CC
  --app-blue-dark: 103 113 123; // #67717B
  --app-red: 255 0 0; // #FF0000

  --app-font-family: 'Roboto', monospace;

  --app-color-primary: rgb(var(--app-blue));
  --app-color-primary-hover: rgb(var(--app-blue) / 0.8);
  --app-color-dark: rgb(var(--app-black));
  --app-color-light: rgb(var(--app-white));

  --app-small-font-size: 12px;
  --app-base-font-size: 14px;
  --app-medium-font-size: 15px;
  --app-base-font-weight: 500;

  --app-input-border: rgb(211 216 220);
  --app-input-height: 48px;
  --app-input-placeholder-color: rgb(161 171 181);
  --app-input-color: rgb(6 14 30);
  --app-input-padding: 12px;
  --app-input-radius: 6px;
  --app-input-size: 15px;

  --app-button-padding: 12px;
  --app-button-radius: 8px;
  --app-button-height: 48px;
  --app-button-size: 16px;

  --app-transition-speed: 0.3s;
}
